#contactus {
overflow: hidden;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  background-color: gray;
  color: #F8FFE5;
}
.box3 {
  width: 25%;
  padding: 2px;
    float: left;
  overflow: hidden;
  text-align: center;
    padding-bottom: 25px;
    margin-bottom: 25px;
}
.box3 img {
    padding: 2%;
    width: 40%;
    margin: auto;
}
footer p {
    padding: 5px;
}
.ff {
    text-align: center;
    width: 100%;
    display: block;
}
.cf {

}
